@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Person</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sgite.css" />
    <link rel="stylesheet" href"src="https://images.unsplash.com/photo-1535025639604-9a804c092faa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6cb0ceb620f241feb2f859e273634393&auto=format&fit=crop&w=500&q=80" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <title>Custom Bootstrap 4 card</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <style>
        html {
            font-size: 14px;
        }
        .container {
            font-size: 14px;
            color: #666666;
            font-family: "Open Sans";
        }
        .img-thumbnail {
            padding: 0;
            height: 50px;
            width: 45px;
            border-radius: 50%;
            border: 0;
            background-color: transparent;
        }
        .img-fluid {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-light" style=" background-color: #3366ff;">
                <a class="navbar-brand" href="Home"> T-Spring</a>
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <div class="dropdown" float="right">
                        @{ if (User.FindFirst(ClaimTypes.Email) != null)
                            {
                                var Name = User.FindFirst(ClaimTypes.Name).Value;
                                var Id = User.FindFirst("Id").Value;
                                <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @*<img src="~/UserImages/@Html.DisplayFor(model => Img)" class="img-thumbnail" />&nbsp;&nbsp;*@
                                    @Name
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@User.FindFirst("Id").Value">Profile</a>

                                </div> }
                            else
                            {
                                <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Login
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Create">Signup</a>
                                </div> } }
                    </div>
                @*</div>*@
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>

            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RecipeProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Book.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>